/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Reset browsers style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom style */

body {
    display: flex;
    flex-direction: row;
}

.left-picture {
    flex: auto;
    display: flex;
    width: 35%;
    height: 100vh;
    position: relative;
}

.right-container {
    width: 65%;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 40px 50px;
}

/* Left picture */

.space-background {
    width: 100%;
    height: 100%;
}

.logo-background {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    color: #eaf0f0;
    background-color: rgba(197, 199, 199, 0.144) ;
    top: 25vh;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height:85%;
}

.company-name {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.credits {
    position: absolute;
    bottom: 0;
    color: #C5C7C7;
    padding-left: 10px;
    padding-bottom: 10px;
}

.credits a {
    color: #dee0e0;
    text-decoration: none;
}

.header {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #45A29E;
}

/*Form */

.text-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text-container p {
    width: 80%;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    color: #45A29E;
}

.form-container {
    width: 100%;
    flex: 1;
    margin-top: 20px;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 70px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.input label {
    font-size: 20px;
    color: #66FCF1;
}

.input input {
    border-radius: 5px;
    width: 100%;
    height: 25px;
    font-size: 20px;
    background-color: #C5C7C7;
    color: #0B0C10;
}

/* Button */

.bottom-container {
    margin-top: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: 20%;
    height: 15%;
    border-radius: 5px;
    background-color: #45A29E;
    border: 1px solid #67c2bd;
    border-radius: 8px;
    box-shadow: rgba(57, 104, 104, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0B0C10;
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

button:hover {
  background-color: #8ad8d4;
}

.bottom-container p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #45A29E;
}

.bottom-container a {
    text-decoration: none;
    color: #76cfcb;
}